@{
    ViewData["Title"] = "Monsters Work Page";
}

<div class="text-center">
    <h1 class="display-4">Monsters Work Page - Welcom Monster</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
